@model Person

@{
    ViewData["Title"] = "Login";
    var isAdmin = Context.Request.Path.ToString().ToLower().Contains("/admin");
}

<link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />

<div class="card" style="width: min(600px, 90vh); margin: auto; margin-top: 5ch">
    <div class="card-body">
        <h1 class="card-title">Connexion</h1>
        <h3 class="card-subtitle" style="opacity: .8">
            @(isAdmin ? "Administrateur":"Employe")
        </h3>
    </div>
    <form asp-controller="Auth" asp-action="Login" class="card-body">
        <span class="label input-group-text" id="basic-addon1">
            Email
        </span>
        <div class="input-wrapper input-group mb-3">
            
            <div class="col">
                <input asp-for="Email" type="text" class="form-control" placeholder="Entrer votre Email | eg : prenom.nom@xyz.com" aria-label="email" aria-describedby="basic-addon1"/>
                <div>
                    <p class="text-danger">
                        @Html.ValidationMessageFor(m => m.Email)
                    </p>
                </div>
            </div>
        </div>

        <span class="label input-group-text" id="basic-addon2">
            Mot de passe
        </span>
        <div class="input-wrapper input-group mb-3">
            <div class="col">
                <input asp-for="Password" type="password" class="form-control" placeholder="Entrer votre Mot de passe" aria-label="prenom" aria-describedby="basic-addon2"/>
                <div>
                    <p class="text-danger">
                        @Html.ValidationMessageFor(m => m.Password)
                    </p>
                </div>
            </div>
        </div>

        <div class="input-group mb-3" style="width: 100%;margin-top: 15px">
            <input type="submit" value="Se connecter" class="submit form-control btn btn-primary" style="width: 100%"/>
        </div>
        
            @if(isAdmin){
                <p class="card-subtitle my-3">
                    Vous disposez d'un compte employe ? <a href="/login">Cliquez ici</a>
                </p>
            }else{
                <p class="card-subtitle my-3">
                    Vous disposez d'un compte admin ? <a href="/login/admin">Cliquez ici</a>
                </p>
            }
        
    </form>
</div>