@model Person

@{
    ViewData["Title"] = "Login";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Form de connexion</h1>
    </div>
    <form asp-controller="Auth" asp-action="Login" class="card-body">
        <span class="label input-group-text" id="basic-addon1">
            Email
            
        </span>
        <div class="input-wrapper input-group mb-3">
            <!-- TODO -->
            <div class="col">
                <input asp-for="Email" type="text" class="form-control" placeholder="Entrer votre Email | eg : prenom.nom@xyz.com" aria-label="email" aria-describedby="basic-addon1"/>
                <div>
                    <p class="text-danger">
                        @Html.ValidationMessageFor(m => m.Email)
                    </p>
                </div>
            </div>
        </div>

        <span class="label input-group-text" id="basic-addon2">
            Mot de passe
        </span>
        <div class="input-wrapper input-group mb-3">
            <!-- TODO -->
            <div class="col">
                <input asp-for="Password" type="password" class="form-control" placeholder="Entrer votre Mot de passe" aria-label="prenom" aria-describedby="basic-addon2"/>
                <div>
                    <p class="text-danger">
                        @Html.ValidationMessageFor(m => m.Password)
                    </p>
                </div>
            </div>
        </div>

        <div class="input-group mb-3" style="width: 100%;margin-top: 30px">
            <input type="submit" value="Se connecter" class="submit form-control btn btn-primary" style="width: 100%"/>
        </div>
    </form>
</div>