body {
    background-color: #f9f9f9;
}

.admin-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    border-radius: .4rem;
    flex:1;
}

.admin-card h2 {
    font-weight: 300;
    color: #4f4f4f;
    font-size: 1.4rem;
    white-space: nowrap;
}

.admin-card .value {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

.admin-card .icon {
    --color: 13,110,253;
    background-color: rgb(var(--color));
    box-shadow: 0 0 0 0.4rem rgba(var(--color),.1);
    padding: .8rem
}

.admin-card svg {
    width: 30px;
    aspect-ratio: 1;
}

.card{
    --b-color: #1094da;
    padding: 1.3em;
    border-radius: 12px;
    border-left-color: var(--b-color);
    border-left-width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card-title{
    color: var(--b-color);
}

.list{
    margin-top: 3.0em;
    background-color: transparent;
}
.paie-list,
.conge-list,
.employe-list {
    background-color: white;
    border-radius: 10px;
}
.admin-tables{
    background-color: white;
}

th{
    white-space: nowrap;
}

.sep{
    width: 30px;
    padding: 2px 0;
    background-color: var(--b-color);
    opacity: 1;
    border-radius: 5ch;
}

.admin-tables :is(td , th){
    padding-block: 20px;
}

/*.admin-tables > tbody > * > *{*/
/*    --sep-color: #c4c4c4;*/
/*    border-bottom: 1px solid var(--sep-color);*/
/*}*/

td, th{
    vertical-align: middle;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: transparent;
}

.table>:not(caption)>> {
    border-bottom-width: 0;
}

.card-subtitle{
    padding-bottom: 10px;
}