.table>:not(:last-child)>:last-child>* {
    border-bottom-color: transparent;
}

.table>:not(caption) {
    border-bottom-width: 0;
}

.admin-tables :is(td , th){
    padding-block: 20px;
}

.svg-man{
    height: 16px;
    width: 16px;
}

td, th{
    vertical-align: middle;
}
.icon-wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/*.icon{*/
/*    --color: 44, 62, 80;*/
/*    !*background-color: rgb(var(--color));*!*/
/*    !*box-shadow: 0 0 0 0.4rem rgba(var(--color),.1);*!*/
/*    text-align: center;*/
/*    padding: 5px;*/
/*    border-radius: 5px;*/
/*    */
/*    text-decoration: none;*/
/*}*/
/*.icon:nth-child(2){*/
/*    margin: 0 20px;*/
/*}*/

.icon:hover{
    animation: pulsate .7s ease-in-out backwards;
    transition-duration: .2s;
    background-color: rgb(var(--color));
    box-shadow: 0 0 0 0.4rem rgba(var(--color),.1);
    fill: white;
}


.icon{
    --color: 46, 134, 222;
    display: flex;
    text-decoration: none;
    
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    
    border: 1px solid rgb(var(--color));
    fill: rgb(var(--color));
}

.card-body{
    padding: 0;
    padding-top: 5ch;
    padding-bottom: 3ch;
}

.card-title{
    --b-color: #1094da;
    color: var(--b-color);
    text-align: center;
}

.sep{
    --b-color: #1094da;
    width: 50px;
    padding: 2px 0;
    background-color: var(--b-color);
    opacity: 1;
    border-radius: 5ch;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px white,
        0 0 50px rgb(var(--color));
    }
}

.card{
    background-color: white;    
}

.delete-form a {
    cursor: pointer;
}

/*.admin-tables{*/
/*    --b-color: #1094da;*/
/*    border-left: 5px solid var(--b-color);*/
/*    border-top-left-radius: 5px !important;*/
/*    border-bottom-left-radius: 5px !important;*/
/*}*/

.title-to-left{
    text-align: start;
}
.to-left>.sep{
    margin: 0;
}

.card-wrapper{
    border-left: 4px solid var(--primary-color);
}