*{
  font-family: "Dubai";
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .card{
    width: 100%;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active{
  color: white;
  background-color: #0d6efd33;
}

.status{
  --status-color: 0, 210, 211;
  /* width: 15ch; */
  border-radius: 20px;
  background-color: rgba(var(--status-color), 5%);
  
  /*font-weight: bold;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.status-icons{
  float: left;
  margin-right: 10px;
}

ul{
  list-style: none;
}